body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
    font-family: Arial,  sans-serif;
}
.calculater{
    width: 300px;
     padding: 30px;
    border:1px solid#ccc;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(5,2,0.1);
    }
    #display{
        width: 93%;
        padding:10px;
        margin-bottom:15px;
        font-size:22px;
        border:solid;
    }
.buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
button{
    padding: 10px;
    font-size: 20px;
    border:dotted;
    border-radius: 5px;
    cursor:pointer;
}
